<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="./stylesheet.css" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            <% if(action == 'add') { %>

            <% } else { %>

<style>.table-responsive {
    text-align:   center ;
    box-shadow: 8px 15px 20px ;
    border-style:fa-solid;
    border-radius: 0.6em;
    overflow:visible;
    padding-bottom: 2.5%;
    margin-left:35%;
    margin-right: 35%;}
      @media screen and (max-width:600px){
        .table-responsive{
            width: 105%;
            margin-left: -3%;
        }
    }
</style>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>CIN</th>
                                <th>Your tasks for the day  </th>
                            </tr>
                            <tr>
                                <td><%= tasks[0].cin%></td>
                                <td>
                            <% if(tasks.length > 0)
                            {
                              tasks[0].tasks.split('.').forEach(function(data){
                            %>
                                <%= data%><br>
                            <%
                               });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>